.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

*.wxss
build/
config/
example/
static/

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sublime-*
